// Breakpoints
$breakpoint-mobileSmall: 378px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

//border
$borderBlack: 1px solid #000;
$borderGrey: 1px solid #cfcfcf;
$borderGreyThick: 5px solid #efefef;
