header {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 9;
  transition: transform 0.3s;
  &.scroll-down {
    transform: translateY(-51px);
    .global-nav {
      opacity: 0;
    }
  }
  nav {
    border-bottom: 1px solid black;
  }
  .global-nav {
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 50px auto 30px 30px;
    align-items: center;
    gap: 10px;
    transition: opacity 0.3s;
    & > a {
      height: 40px;
      &.logo {
        img {
          height: 75%;
          margin: 10% auto auto;
          object-fit: contain;
        }
      }
      &.delivery,
      &.cart {
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 1.5em;
        }
      }
    }
    .search {
      position: relative;
      input {
        width: 100%;
        border: none;
        border-bottom: 2px solid #9bce26;
        padding: 7px 0;
      }
      button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .local-nav {
    padding: 15px 20px;
    ul {
      display: flex;
      justify-content: space-between;
      li {
        a {
          font-size: 1.1em;
          font-weight: bold;
        }
      }
    }
  }
}

/* responsive */

@include mobile-s {
}

@include mobile {
}

@include tablet {
}

@include desktop {
}

@include desktop-l {
}
