header {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 9;
  transition: transform 0.3s;
  &.scroll-down {
    transform: translateY(-51px);
    .global-nav {
      opacity: 0;
    }
  }
  nav {
  }
  .global-nav {
    padding: 10px 10px 0;
    display: grid;
    grid-template-columns: 50px auto 30px 30px;
    align-items: center;
    gap: 10px;
    transition: opacity 0.3s;
    & > a {
      height: 40px;
      &.logo {
        img {
          height: 75%;
          margin: 10% auto auto;
          object-fit: contain;
        }
      }
      &.delivery,
      &.cart {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #555;
        i {
          font-size: 1.5em;
        }
      }
    }
    .search {
      position: relative;
      input {
        width: 100%;
        border: none;
        border-bottom: 2px solid #9bce26;
        padding: 7px 0;
      }
      button {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.3em;
        color: #777;
      }
    }
  }
  .local-nav {
    padding: 10px 20px 7px;
    border-bottom: $borderGrey;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        a {
          font-size: 1.1em;
          font-weight: bold;
        }
        &.active {
          a {
            font-size: 1.3em;
            color: rgb(255, 150, 167);
            &::after {
              content: "";
              width: 100%;
              height: 3px;
              background: rgb(255, 150, 167);
              display: block;
              top: 8px;
              position: relative;
            }
          }
        }
      }
    }
  }
}

/* responsive */

@include mobile-s {
}

@include mobile {
}

@include tablet {
}

@include desktop {
}

@include desktop-l {
}
