#container {
  padding-top: 88px;
  & > section,
  & > div {
    padding-bottom: 30px;
    .wrapper {
      padding: 20px 20px 0;
    }
    .cont-title {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end;
      margin-bottom: 20px;
      h3 {
        font-size: 1.35em;
        line-height: 1.3;
        font-weight: 900;
        letter-spacing: -0.05em;
      }
      a {
        color: #999;
      }
      span {
        display: block;
        width: 100%;
      }
    }
    .content {
    }
    .more-btn {
      width: 100%;
      height: 40px;
      padding: 10px;
      border: 1px solid black;
      color: black;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      &.return {
        i {
          transform: rotateY(180deg);
        }
      }
    }
  }
  .item,
  .banner,
  .brand {
    border-bottom: $borderGreyThick;
  }
  #mainSlide {
    position: relative;
    .slide {
      overflow: hidden;
      ul {
        display: flex;
        width: 300%;
        transition: transform 0.3s;
        li {
          a {
            height: 100%;
            position: relative;
            .text {
              position: absolute;
              top: 30px;
              left: 25px;
              p {
                font-size: 1.9em;
                line-height: 1.2;
                font-weight: bold;
                margin-bottom: 10px;
                letter-spacing: -0.08em;
              }
              span {
              }
            }
          }
        }
      }
    }
    .pagination {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 8px 0;
      width: 60px;
      color: white;
      background: rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      p {
        display: flex;
        align-items: center;
        gap: 4px;
        span {
          i {
            font-size: 0.8em;
          }
        }
      }
    }
    .slide-category {
      display: none;
    }
  }
  .content-nav {
    display: flex;
    align-items: center;
    overflow: auto;
    padding-bottom: 0;
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: #e9e9e9;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: #cfcfcf;
      border-radius: 5px;
    }
    ul {
      min-width: max-content;
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        width: 75px;
        a {
          padding: 13px 0 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          i {
            font-size: 1.65em;
          }
          span {
            font-size: 0.8em;
            margin-top: 10px;
            display: block;
          }
        }
      }
    }
  }
  .banner-type1 {
    display: flex;
    position: relative;
    height: 16vw;
    overflow: hidden;
    .banner-item {
      width: 100%;
      position: absolute;
      z-index: 1;
      &.index-first {
        z-index: 2;
      }
      a {
        width: 80vw;
        height: 16vw;
        position: relative;
        overflow: hidden;
        .banner-wrap {
          position: absolute;
          width: 80vw;
          height: 16vw;
          top: 0;
          img {
          }
        }
      }
      button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 25px;
        opacity: 0.75;
        border-radius: 50%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 1.1em;
          color: #777;
        }
      }
      &:first-child {
        a {
          animation: slideRight 2s infinite;
          box-shadow: 20px 0 15px rgba(0, 0, 0, 0.4);
          .banner-wrap {
            left: 0;
          }
        }
        button {
          left: calc(80vw - 12px);
          animation: slideRightBtn 2s infinite;
          i {
            margin-left: 2px;
          }
        }
      }
      &:last-child {
        a {
          margin-left: auto;
          animation: slideLeft 2s infinite;
          box-shadow: -20px 0 15px rgba(0, 0, 0, 0.4);
          .banner-wrap {
            right: 0;
          }
        }
        button {
          right: calc(80vw - 12px);
          animation: slideLeftBtn 2s infinite;
          i {
            margin-right: 2px;
          }
        }
      }
      @keyframes slideRight {
        0% {
          width: 80vw;
        }
        50% {
          width: 78vw;
        }
        100% {
          width: 80vw;
        }
      }
      @keyframes slideRightBtn {
        0% {
          left: calc(80vw - 12px);
        }
        50% {
          left: calc(78vw - 12px);
        }
        100% {
          left: calc(80vw - 12px);
        }
      }
      @keyframes slideLeft {
        0% {
          width: 80vw;
        }
        50% {
          width: 78vw;
        }
        100% {
          width: 80vw;
        }
      }
      @keyframes slideLeftBtn {
        0% {
          right: calc(80vw - 12px);
        }
        50% {
          right: calc(78vw - 12px);
        }
        100% {
          right: calc(80vw - 12px);
        }
      }
    }
  }
  .item-type {
    .content {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .list-item {
      }
    }
  }
  .item-type,
  .list-type {
    .content {
      .list-item {
        display: grid;
        grid-template-columns: 80px auto 20px;
        gap: 10px;
        .img {
          width: 80px;
          padding-bottom: 80px;
          position: relative;
          font-size: 0;
          img {
            position: absolute;
            border-radius: 5px;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          p {
            line-height: 1.3;
            letter-spacing: -0.035em;
            font-size: 0.95em;
            strong {
              color: red;
            }
            b {
            }
          }
          .item-name {
            margin-bottom: 5px;
            b {
              &::after {
                content: "";
                width: 1px;
                height: 10px;
                background: #999;
                display: inline-block;
                margin: 0 4px 0 8px;
              }
            }
          }
          .item-price {
            margin-bottom: auto;
            font-size: 1em;
            small {
              font-size: 0.85em;
              text-decoration: line-through;
              color: #999;
            }
          }
          .item-bn {
            span {
              font-size: 0.8em;
              padding: 3px 6px;
              border-radius: 3px;
              background: #efefef;
              font-weight: bold;
            }
            .today-bn {
              color: rgb(255, 103, 129);
            }
            .gift-bn {
              color: #888;
            }
          }
        }
        .btn {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-end;
          padding-right: 5px;
          button {
            color: #666;
          }
        }
      }
    }
  }
  .list-type {
    &.ranking {
      .cont-title {
        margin-bottom: 0;
      }
      .wrapper:first-child {
        // padding-bottom: 15px;
      }
    }
    .cont-nav {
      overflow: auto;
      padding: 0 20px;
      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
      ul {
        width: max-content;
        display: flex;
        justify-content: space-between;
        gap: 15px;
        li {
          padding: 5px 0;
          &.active {
            font-weight: bold;
          }
        }
      }
    }
    .content {
      ul {
        li {
          &:not(:first-child) {
            margin-top: 10px;
          }
          & > button {
            width: 100%;
            padding: 10px;
            border: $borderGrey;
            text-align: left;
            color: #666;
            border-radius: 3px;
            span {
              font-size: 0.9em;
              letter-spacing: -0.035em;
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          .list-item {
            display: none;
          }
          &.active {
            & > button {
              border: $borderBlack;
              color: black;
            }
            .list-item {
              display: grid;
              margin: 15px 0;
            }
          }
        }
      }
    }
  }
  .banner-box {
    padding-bottom: 0;
    .content {
      a {
      }
    }
  }
  .banner-type2 {
    &.weekly {
      padding-bottom: 0;
      .wrapper:first-child {
        // padding-bottom: 10px;
        .cont-title {
          margin-bottom: 0;
        }
      }
      .content {
        a {
          position: relative;
          p {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            font-size: 1.5em;
            font-weight: bold;
            line-height: 1.3;
            small {
              font-size: 0.7em;
              font-weight: normal;
            }
          }
        }
      }
    }
    &.keyword {
      padding-bottom: 20px;
      border-bottom: none;
      .wrapper {
        // padding-bottom: 10px;
      }
      .cont-title {
        margin-bottom: 10px;
      }
      .content {
        a {
          .img {
            img {
              border-radius: 5px;
            }
          }
          .text {
            padding: 10px 0 15px;
            p {
              font-weight: bold;
              font-size: 1.2em;
              line-height: 1.5;
            }
            span {
              font-size: 0.95em;
            }
          }
        }
      }
    }
    .content {
      ul {
        li {
          margin-top: 5px;
          a {
            margin-top: 5px;
          }
        }
      }
    }
  }
  .popular-event {
    padding-bottom: 0;
    .wrapper:first-child {
      padding-bottom: 20px;
      .cont-title {
        margin-bottom: 10px;
      }
      .pagination {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        button {
          padding: 5px 10px;
          border: $borderGrey;
          background: white;
          border-radius: 30px;
          font-size: 0.9em;
          color: #666;
          &.active {
            background: rgb(255, 123, 113);
            color: white;
            border-color: rgb(255, 123, 113);
          }
        }
      }
    }
    .content {
      overflow: hidden;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      ul {
        width: max-content;
        display: flex;
        gap: 5px;
        transition: transform 0.3s;
        li {
          width: 85vw;
          height: 400px;
          background: pink;
          position: relative;
          & > img {
          }
          .event-text {
            position: absolute;
            height: 45%;
            top: 0;
            left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
              font-size: 1.32em;
              line-height: 1.3;
              margin-bottom: 5px;
              font-weight: bold;
            }
          }
          .event-item {
            position: absolute;
            width: 100%;
            height: 55%;
            top: 45%;
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 0 15px 8px;
            .list-item {
              height: 50%;
              background: white;
              display: grid;
              grid-template-columns: 80px auto auto;
              gap: 10px;
              border-radius: 5px;
              padding: 0 10px;
              align-items: center;
              .img {
                width: 80px;
                height: 80px;
                margin: auto 0;
              }
              .text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                p {
                  line-height: 1.3;
                  letter-spacing: -0.035em;
                  font-size: 0.95em;
                  strong {
                    color: red;
                  }
                  b {
                  }
                }
                .item-name {
                  margin-bottom: 5px;
                  b {
                    &::after {
                      content: "";
                      width: 1px;
                      height: 10px;
                      background: #999;
                      display: inline-block;
                      margin: 0 4px 0 8px;
                    }
                  }
                }
                .item-price {
                  margin-bottom: auto;
                  small {
                    font-size: 0.85em;
                    text-decoration: line-through;
                    color: #999;
                  }
                }
                .item-bn {
                  display: none;
                  // span {
                  //   font-size: 0.8em;
                  //   padding: 3px 6px;
                  //   border-radius: 3px;
                  //   background: #efefef;
                  //   font-weight: bold;
                  // }
                  // .today-bn {
                  //   color: rgb(255, 103, 129);
                  // }
                  // .gift-bn {
                  //   color: #888;
                  // }
                }
              }
              .btn {
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-end;
                padding-right: 8px;

                button {
                  color: #666;
                }
              }
            }
          }
        }
      }
    }
  }
  .banner-type3 {
    background: #f3f3f3;
    .cont-title {
      margin-bottom: 10px;
    }
    .content {
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 6px;
        li {
          a {
            .img {
              position: relative;
              width: 100%;
              span {
                position: absolute;
                bottom: -10px;
                left: 0;
                background: #9bce26;
                color: white;
                padding: 3px 7px 5px;
                z-index: 1;
              }
            }
            .text {
              padding: 15px 0 10px;
              line-height: 1.3;
              p {
                font-size: 1.15em;
              }
              span {
                font-size: 0.9em;
              }
            }
          }
        }
      }
    }
  }
  .banner-type4 {
    max-width: 1136px;
    position: relative;
    .wrapper:first-child {
      padding-bottom: 20px;
      .cont-title {
        margin-bottom: 0;
      }
    }
    .content {
      max-width: 1020px;
      width: 100%;
      margin: auto;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      ul {
        width: max-content;
        display: flex;
        align-items: center;
        padding-left: calc(50% - 300px / 2);
        padding-right: calc(50% - 300px / 2);
        gap: 20px;
        height: 380px;
        li {
          transition: width 0.3s, height 0.3s;
          a {
            position: relative;
            border-radius: 30px;
            width: 250px;
            height: 300px;
            background: dimgray;
            transition: all 0.3s;
            overflow: hidden;
            .text {
              width: 100%;
              height: 31%;
              padding: 18px 15px 0;
              position: absolute;
              bottom: 0;
              color: white;
              h3 {
                font-size: 1.3em;
                margin-bottom: 5px;
              }
              p {
                line-height: 1.3;
                letter-spacing: -0.02em;
              }
            }
          }
          &.active {
            a {
              width: 285px;
              height: 380px;
              .text {
                padding: 25px 20px 0;
                h3 {
                  font-size: 1.6em;
                  margin-bottom: 8px;
                }
              }
            }
          }
        }
      }
    }
    button {
      display: none;
    }
  }
  .brand {
    .cont-title {
      margin-bottom: 10px;
    }
    .content {
      display: flex;
      gap: 25px;
      .brand-list {
        min-width: 95px;
        width: 100%;
        max-width: 110px;
        ul {
          display: flex;
          flex-direction: column;
          gap: 12px;
          li {
            button {
              width: 100%;
              padding: 7px 0;
              border: $borderGrey;
              border-radius: 30px;
              font-size: 0.9em;
              color: #666;
            }
            &.active {
              button {
                color: white;
                background: rgb(255, 123, 113);
                border-color: rgb(255, 123, 113);
              }
            }
          }
        }
      }
      .brand-goods {
        width: calc(100% - 110px - 15px);
        ul {
          li {
            display: none;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto;
            gap: 10px;
            &.active {
              display: grid;
            }
            a {
              &.brand-header {
                grid-column: span 2;
                width: 100%;
                height: 210px;
                position: relative;
                background: black;
                img {
                  opacity: 0.6;
                }
                .brand-text {
                  position: absolute;
                  bottom: 15px;
                  left: 15px;
                  color: white;
                  p {
                    margin-bottom: 5px;
                    display: flex;
                    align-items: center;
                    i {
                      color: rgb(250, 99, 129);
                      position: relative;
                      font-size: 1.2em;
                      &::after {
                        content: "B";
                        color: white;
                        position: absolute;
                        font-size: 0.6em;
                        top: 3px;
                        left: 5px;
                      }
                    }
                    .heart-num {
                      margin-left: 7px;
                    }
                  }
                }
              }
              &.brand-item {
                width: 100%;
                &:nth-child(4),
                &:last-child {
                  display: none;
                }
                .img {
                  height: 110px;
                  background-color: #f3f3f3;
                  img {
                    object-fit: contain;
                  }
                }
                .text {
                  .item-name {
                    width: 100%;
                    line-height: 1.2em;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    margin: 8px 0;
                  }
                  .item-price {
                    small {
                      display: block;
                      font-size: 0.85em;
                      text-decoration: line-through;
                      color: #999;
                      margin-bottom: 5px;
                    }
                    strong {
                      color: red;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .slide-type {
    .wrapper:first-child {
      // padding-bottom: 10px;
      .cont-title {
        margin-bottom: 0;
      }
    }
    .content {
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      ul {
        display: flex;
        width: max-content;
        gap: 8px;
        margin: 0 20px;
        li {
          width: 140px;
          a {
            .img {
              img {
                border-radius: 5px;
              }
            }
            .text {
              .item-name {
                width: 100%;
                line-height: 1.2em;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                margin: 8px 0;
                font-size: 0.95em;
                b {
                  &::after {
                    content: "";
                    width: 1px;
                    height: 10px;
                    background: #cfcfcf;
                    display: inline-block;
                    margin: 0 1px 0 5px;
                  }
                }
              }
              .item-price {
                small {
                  display: block;
                  font-size: 0.85em;
                  text-decoration: line-through;
                  color: #999;
                  margin-bottom: 5px;
                }
                strong {
                  color: red;
                }
              }
              .item-bn {
                margin: 10px 0 15px;
                span {
                  font-size: 0.8em;
                  padding: 3px 6px;
                  border-radius: 3px;
                  background: #efefef;
                  font-weight: bold;
                }
                .today-bn {
                  color: rgb(255, 103, 129);
                }
                .gift-bn {
                  color: #888;
                }
              }
            }
            .btn {
              button {
                margin-right: 15px;
                color: #666;
              }
            }
          }
        }
      }
    }
  }
  .view-ranking {
    .cont-title {
      margin-bottom: 10px;
      small {
        font-size: 0.95em;
        color: #777;
        font-weight: normal;
        display: block;
        width: 100%;
        margin: 3px 0 5px;
      }
    }
  }
  .offline-store {
    a {
      border: 1px solid #999;
      border-radius: 5px;
      padding: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        &:first-child {
          margin-right: 10px;
          color: #9bce26;
          font-size: 1.2em;
        }
        &:last-child {
          margin-left: 10px;
          color: #999;
        }
      }
    }
  }
  .notice-cs {
    display: none;
  }
}
/**/
#mobile-footer-tab {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 11;
  opacity: 1;
  transition: transform 0.3s;
  &.scroll-down {
    transform: translateY(61px);
    ul {
      opacity: 0;
    }
  }
  .go-top {
    width: 50px;
    height: 50px;
    background: white;
    border: 1px solid #9bce26;
    color: #9bce26;
    font-size: 1.5em;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: -70px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.invisible {
      display: none;
    }
  }
  ul {
    width: 100%;
    background: white;
    box-shadow: 0 -8px 10px rgba(0, 0, 0, 0.06);
    height: 50px;
    display: flex;
    justify-content: space-between;
    transition: opacity 0.3s;
    li {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      a,
      button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: #9f9f9f;
          font-size: 1.7em;
        }
      }
      &.active {
        i {
          color: #ff705c;
        }
      }
    }
  }
}
#mobileLnb {
  position: fixed;
  top: 0;
  transform: translateX(-150%);
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 10;
  transition: transform 0.4s;
  overflow: auto;
  padding-bottom: 50px;
  &.active {
    transform: translateX(0);
  }
  & > div {
    padding: 20px;
  }
  .login {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: $borderGreyThick;
    h3 {
    }
    .close-btn {
      i {
        font-size: 1.5em;
        color: #666;
      }
    }
  }
  .menu {
    padding: 20px 0 10px;
    .brand-menu {
      display: flex;
      flex-direction: column;
      .brand-all {
        padding: 0 20px 20px;
      }
      .brand-list {
        overflow: auto;
        padding: 0 20px 20px;
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
        ul {
          display: flex;
          width: max-content;
          gap: 15px;
          li {
            width: 85px;
            a {
              display: flex;
              flex-direction: column;
              align-items: center;
              .img {
              }
              span {
                margin-top: 10px;
                font-size: 0.9em;
              }
            }
          }
        }
      }
    }
    .lnb-menu {
      padding: 10px 20px;
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        li {
          a {
            padding: 5px 0;
            font-size: 1.1em;
            display: flex;
            align-items: center;
            img {
              width: 20px;
              height: 20px;
              object-fit: cover;
              margin-right: 8px;
              margin-left: 10px;
            }
          }
        }
      }
    }
    .sub-link {
      padding: 0 20px 10px;
      display: flex;
      gap: 5px;
      a {
        width: 100%;
        padding: 13px;
        background: #f3f3f3;
        display: flex;
        flex-direction: column;
        align-items: center;
        i {
          font-size: 1.5em;
        }
        span {
          margin-top: 10px;
          font-size: 0.8em;
        }
      }
    }
    .banner-tab {
      padding: 0 20px;
      img {
        border-radius: 5px;
      }
    }
  }
  .cs {
    background: #f3f3f3;
    padding: 20px;
    display: flex;
    a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      i {
        margin: 0 8px;
        color: #888;
        &:first-child {
          font-size: 1.5em;
        }
      }
      &:first-child::after {
        content: "";
        width: 1px;
        height: 20px;
        background: #999;
        display: inline-block;
        position: absolute;
        right: 0;
      }
    }
  }
}

/* responsive */

@include mobile-s {
}

@include mobile {
}

@include tablet {
  // ~ 900
}

@include desktop {
  // 901 ~
  #container {
    padding-top: 0;
    & > div,
    & > section {
      width: 100%;
      max-width: 1020px;
      margin: auto;
      padding-bottom: 50px;
      .wrapper {
        padding: 20px 0 0;
      }
      .cont-title {
        position: relative;
        padding: 0 0 20px;
        margin-bottom: 30px;
        h3 {
          font-size: 1.9em;
          margin: auto;
        }
      }
      .more-btn {
        width: 30%;
        margin: auto;
      }
    }
    .item,
    .banner,
    .brand {
      border-bottom: none;
    }

    .content-nav {
      display: none;
    }
    #mainSlide {
      width: 100%;
      position: relative;
      .slide {
        ul {
          width: 100%;
          height: 450px;
          position: relative;
          li {
            width: 100vw;
            position: absolute;
            opacity: 0;
            z-index: 1;
            transition: opacity 0.3s;
            a {
              width: 100%;
              margin: auto;
              text-align: right;
              height: 450px;
              background-size: cover;
              img {
                display: none;
              }
              .text {
                top: 50px;
                width: 100%;
                max-width: 1020px;
                text-align: left;
                padding-left: calc(170px + 50px);
                left: 50%;
                transform: translateX(-50%);
                &.white {
                  b,
                  p,
                  span {
                    color: white;
                  }
                }
                b {
                  font-size: 1.3em;
                  &::after {
                    content: "";
                    width: 12px;
                    height: 1px;
                    display: block;
                    background: #999;
                    margin: 20px 0;
                  }
                }
                p {
                  font-size: 3.6em;
                  font-weight: normal;
                  letter-spacing: 0;
                  line-height: 1.22em;
                }
                span {
                  font-size: 1.4em;
                  font-weight: bold;
                  color: #666;
                  letter-spacing: -0.03em;
                }
              }
            }
            &.active {
              z-index: 2;
              opacity: 1;
            }
            &:first-child a {
              background: url("https://image.oliveyoung.co.kr/uploads/images/display/90000010001/1/6931238070479166182.jpg")
                no-repeat center;
              .text {
                content: "hi";
              }
            }
            &:nth-child(2) a {
              background: url("https://image.oliveyoung.co.kr/uploads/images/display/90000010001/1/1180325005852445901.jpg")
                no-repeat center;
            }
            &:nth-child(3) a {
              background: url("https://image.oliveyoung.co.kr/uploads/images/display/90000010001/1/4652920810529596595.jpg")
                no-repeat center;
            }
          }
        }
      }
      .pagination {
        left: calc(170px + 50px);
        bottom: 30px;
        width: auto;
        max-width: 135px;
        justify-content: space-between;
        background: none;
        z-index: 3;
        button {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          color: white;
          background: rgba(0, 0, 0, 0.2);
          &:hover {
            background: rgba(0, 0, 0, 0.5);
          }
        }
        p {
          display: flex;
          color: #777;
          span {
            margin: 0 5px;
          }
        }
      }
      .slide-category {
        display: block;
        position: absolute;
        z-index: 3;
        height: 100%;
        top: 0;
        left: 0;
        & > ul {
          height: 100%;
          display: grid;
          grid-template-rows: repeat(15, 1fr);
          justify-content: space-between;
          background: rgba(0, 0, 0, 0.35);
          padding-top: 15px;
          position: relative;
          & > li {
            & > a {
              display: flex;
              align-items: center;
              padding-left: 20px;
              font-weight: bold;
              color: white;
              font-size: 1.05em;
              letter-spacing: -0.04em;
            }
          }
          .sub-item {
            &:hover {
              & > a {
                background: rgba(0, 0, 0, 0.4);
              }
              & > div {
                display: block;
                &.sub-cate {
                  ul {
                    li:hover {
                      .sub-banner {
                        display: block;
                        left: calc(100% + 1px);
                      }
                    }
                  }
                }
              }
            }
            & > a {
              width: 170px;
              height: 100%;
            }
            & > div {
              display: none;
              position: absolute;
              left: 100%;
              top: 0;
              height: 450px;
              background: white;
              border-right: 1px solid #e9e9e9;
              border-bottom: 1px solid #e9e9e9;
            }
            .sub-cate,
            .sub-banner {
              border-right: 1px solid #e9e9e9;
              border-bottom: 1px solid #e9e9e9;
            }
            .sub-banner {
              width: 210px;
              a {
                padding: 5px 5px 4px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                small {
                  font-weight: bold;
                  padding: 30px 0 25px;
                  padding-left: 15px;
                }
                div:nth-child(2) {
                  padding-left: 15px;
                  display: flex;
                  flex-direction: column;
                  margin-bottom: auto;
                  b {
                    font-size: 1.5em;
                    padding-bottom: 10px;
                  }
                  p {
                    font-size: 1.25em;
                    line-height: 1.3;
                    padding-bottom: 10px;
                  }
                  span {
                    font-size: 1.2em;
                    color: #bdbdbd;
                    text-decoration: line-through;
                    padding-bottom: 5px;
                  }
                  em {
                    font-size: 1.7em;
                    color: rgb(233, 0, 0);
                    font-weight: 900;
                    letter-spacing: -0.03em;
                  }
                }
                .img {
                  width: 200px;
                  padding-bottom: 200px;
                  position: relative;
                  img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
              }
            }
            .sub-cate {
              width: 170px;
              ul {
                padding-top: 20px;
                li {
                  & > a {
                    padding: 10px 20px 5px;
                    color: #666;
                    &:hover {
                      color: black;
                      text-decoration: underline;
                    }
                  }
                  .sub-banner {
                    display: none;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    height: 450px;
                    background: white;
                    a {
                    }
                  }
                }
              }
            }
          }
          .awards {
            background: rgba(0, 0, 0, 0.2);
            padding: 13px 0;
          }
        }
      }
    }
    .banner-type1 {
      height: initial;
      gap: 5px;
      border-bottom: none;
      margin: 50px auto 10px;
      padding-bottom: 0;
      .banner-item {
        position: relative;
        width: 50%;
        a,
        button {
          animation: none !important;
          box-shadow: none !important;
        }
        a {
          width: 100%;
          height: initial;
          .banner-wrap {
            width: 100% !important;
            height: initial !important;
            position: relative;
            img {
            }
          }
        }
        button {
          display: none;
        }
      }
    }
    .item-type,
    .list-type {
      .content {
        .list-item {
          .img {
          }
          .text {
            .item-name {
              font-size: 1.05em;
              line-height: 1.4;
              margin-bottom: 0;
            }
            .item-price {
              padding: 8px 0;
              display: flex;
              strong {
                display: none;
              }
              span {
                order: 2;
                font-size: 1.5em;
                font-weight: bold;
                color: rgb(240, 29, 29);
              }
              small {
                order: 1;
                font-size: 1em;
              }
            }
            .item-bn {
              span {
                color: white !important;
                font-size: 1em;
                font-weight: bold;
                border-radius: 30px;
                padding: 3px 8px;
              }
              .today-bn {
                background: #f374b7;
              }
              .gift-bn {
                background: #9bce26;
              }
            }
          }
        }
      }
    }
    .item-type {
      &.recommend_1 {
        .cont-title {
          padding-top: 30px;
        }
      }
      &.recommend_2 {
        display: none;
      }
      .cont-title {
        margin-bottom: 0;
        h3 {
          margin: 0 auto 0 0;
        }
      }
      .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        margin-bottom: 40px;
        .list-item {
          display: flex;
          flex-direction: column;
          position: relative;
          .img {
            width: 100%;
            padding-bottom: 100%;
          }
          .text {
            .item-name {
              height: 40px;
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
            .item-price {
              align-items: center;
              gap: 8px;
              small {
                margin-top: 5px;
              }
            }
          }
          .btn {
            position: absolute;
            bottom: 24px;
            right: 0;
            .wish {
              display: none;
            }
            .cart {
              font-size: 1.4em;
            }
          }
        }
      }
    }
    .list-type {
      &.ranking {
        display: none;
      }
      //view-ranking
      .cont-title {
        border-bottom: $borderGrey;
        margin-bottom: 25px;
        a {
          position: absolute;
          right: 0;
          bottom: 25px;
        }
        small {
          display: none;
        }
      }
      .content {
        padding-bottom: 30px;
        border-bottom: $borderGrey;
        ul {
          overflow: hidden;
          position: relative;
          li {
            width: calc(50% - 20px);
            margin-left: auto;
            &:not(:first-child) {
              margin-top: 3px;
            }
            button {
              border-color: white;
              padding: 10px 20px;
              span {
                font-size: 1em;
              }
            }
            .list-item {
              position: absolute;
              width: calc(50% - 20px);
              left: 0;
              top: 100%;
              opacity: 0;
              gap: 20px;
              transition: all 0.3s;
              display: flex;
              .img {
                max-width: 175px;
                width: 100%;
                padding-bottom: 175px;
              }
              .text {
                .item-price {
                  margin: auto 0 0;
                  flex-direction: column;
                  span {
                    padding-top: 10px;
                  }
                }
              }
              .btn {
                display: none;
              }
            }
            &.active {
              button {
                border-radius: 5px;
                span {
                  font-weight: bold;
                }
              }
              .list-item {
                top: 50%;
                transform: translateY(-50%);
                opacity: 1;
                display: flex;
                margin: 0;
              }
            }
          }
        }
      }
    }
    .banner-box {
      display: none;
    }
    .banner-type2 {
      .wrapper:first-child {
        padding-bottom: 20px;
      }
      .cont-title {
        padding-bottom: 0;
      }
      .content {
        ul {
          display: flex;
          gap: 20px;
          li {
            margin-top: 0;
            a {
              margin-top: 0;
            }
          }
        }
      }
      &.weekly {
        padding-bottom: 50px;
      }
      &.keyword {
        padding-bottom: 50px;
        .cont-title {
          margin-bottom: 20px;
        }
        .content {
          a {
            .img {
              img {
                border-radius: 10px;
              }
            }
            .text {
              padding: 15px 0;
              p {
                font-size: 1.5em;
                margin-bottom: 5px;
              }
              span {
                font-size: 1.1em;
              }
            }
          }
        }
      }
    }
    .popular-event {
      padding-bottom: 50px;
      .wrapper:first-child {
        position: relative;
        .cont-title {
          margin: 0;
          padding: 0;
        }
        .pagination {
          position: absolute;
          right: 0;
          bottom: 20px;
          gap: 0;
          button {
            border: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "roboto";
            font-weight: bold;
            font-size: 1.1em;
            &.active {
              background: #444;
              color: white;
            }
          }
        }
      }
      .content {
        height: 700px;
        ul {
          width: 400%;
          gap: 0;
          height: 100%;
          li {
            width: calc(50% - 10px);
            height: 100%;
            position: relative;
            background: none;
            &:nth-child(odd) {
              margin-right: 10px;
              &::after {
                content: "";
                width: 1px;
                height: 100%;
                background: #dbdbdb;
                display: block;
                right: -10px;
                top: 0;
                position: absolute;
              }
            }
            &:nth-child(even) {
              margin-left: 10px;
            }
            & > img {
              object-position: top;
              height: 310px;
            }
            .event-text {
              height: 40%;
              left: 30px;
              p {
                font-size: 1.45em;
                margin-bottom: 15px;
              }
              span {
                font-size: 1.1em;
              }
            }
            .event-item {
              top: 40%;
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              height: initial;
              .list-item {
                display: flex;
                flex-direction: column;
                height: initial;
                padding: 10px;
                .img {
                  width: 100%;
                  height: 100%;
                }
                .text {
                  .item-brand {
                    font-weight: 900;
                    text-align: center;
                    padding: 15px 0 10px;
                  }
                  .item-name {
                    font-size: 1.05em;
                    line-height: 1.4;
                    text-align: center;
                    margin-bottom: 0;
                    height: 40px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                  }
                  .item-price {
                    padding-bottom: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    strong {
                      display: none;
                    }
                    span {
                      order: 2;
                      font-size: 1.5em;
                      font-weight: bold;
                      color: rgb(240, 29, 29);
                    }
                    small {
                      order: 1;
                      font-size: 1em;
                      margin-right: 8px;
                    }
                  }
                  .item-bn {
                    display: block;
                    text-align: center;
                    span {
                      color: white !important;
                      font-size: 1em;
                      font-weight: bold;
                      border-radius: 30px;
                      padding: 3px 8px;
                    }
                    .today-bn {
                      background: #f374b7;
                    }
                    .gift-bn {
                      background: #9bce26;
                    }
                  }
                }
                .btn {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .banner-type3 {
      background: url("https://image.oliveyoung.co.kr/uploads/contents/main/00_Main_onlyone_BG.jpg")
        repeat center;
      background-size: cover;
      max-width: initial;
      .wrapper {
        background: none;
        max-width: 1020px;
        margin: auto;
        .cont-title {
          padding-top: 25px;
          margin-bottom: 0;
          h3 {
            &::before {
              content: "EXCLUSIVE";
              font-size: 0.78em;
              font-weight: 600;
              margin-right: 10px;
            }
          }
        }
        .content {
          overflow: auto;
          background: white;
          padding: 30px 0 0;
          &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
          }
          ul {
            grid-template-columns: repeat(6, 1fr);
            width: 200%;
            gap: 0;
            li {
              padding: 0 15px;
              a {
                position: relative;
                .img {
                  span {
                    display: none;
                  }
                }
                .text {
                  background: white;
                  position: relative;
                  padding: 20px 30px;
                  display: inline-block;
                  bottom: 25px;
                  left: 50%;
                  transform: translateX(-50%);
                  text-align: center;
                  p {
                    font-size: 1.5em;
                    letter-spacing: -0.05em;
                    margin-bottom: 3px;
                  }
                  span {
                    font-size: 1.15em;
                    letter-spacing: -0.05em;
                  }
                }
              }
            }
          }
        }
      }
    }
    .banner-type4 {
      .wrapper:first-child {
        padding-bottom: 0;
        .cont-title {
          padding-top: 30px;
        }
      }
      .content {
        ul {
          width: 200%;
          height: 420px;
          padding: 0;
          gap: 0;
          li,
          li.active {
            padding: 0 15px;
            height: 100%;
            a {
              width: initial;
              height: 100%;
              img {
              }
              .text {
                padding: 28px 25px 0;
                h3 {
                  font-size: 1.6em;
                  margin-bottom: 8px;
                }
                p {
                  font-size: 1.1em;
                  letter-spacing: -0.03em;
                }
              }
            }
          }
        }
      }
      button {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #c0c0c0;
        color: white;
        position: absolute;
        bottom: calc(50% - 40px);
        i {
          font-size: 1.4em;
        }
        &.prev-btn {
          left: 5px;
        }
        &.next-btn {
          right: 5px;
        }
      }
    }
    .brand {
      .cont-title {
        .pagination {
          position: absolute;
          right: 0;
          display: flex;
          button {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: flex;
            font-size: 1.1em;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            font-family: "roboto";
            &.active {
              background: #444;
              color: white;
            }
          }
        }
      }
      .content {
        flex-direction: column;
        gap: 35px;
        .brand-list {
          max-width: initial;
          overflow: hidden;
          ul {
            width: 200%;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            gap: 0;
            transition: transform 0.3s;
            li {
              border: $borderGrey;
              &:not(:first-child, :nth-child(6)) {
                margin-left: -1px;
              }
              button {
                border: none;
                border-radius: 0;
                height: 100%;
                padding: 15px;
                font-size: 1.1em;
              }
              &.active {
                border: 3px solid #9bce26;
                button {
                  background: none;
                  color: #9bce26;
                  font-weight: bold;
                }
              }
            }
          }
        }
        .brand-goods {
          width: 100%;
          ul {
            li {
              grid-template-columns: repeat(4, 1fr);
              gap: 40px;
              a {
                &.brand-header {
                  order: 2;
                  border-top: $borderGrey;
                  height: 50px;
                  background: none;
                  grid-column: span 4;
                  img {
                    display: none;
                  }
                  .brand-text {
                    border: $borderGrey;
                    border-top: none;
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    left: 25%;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: black;
                    p {
                      display: none;
                    }
                    h3 {
                      font-size: 1.25em;
                      letter-spacing: -0.08em;
                      text-align: center;
                      color: #666;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      b {
                        color: #9bce26;
                        margin-right: 5px;
                      }
                      i {
                        color: #cfcfcf;
                        font-size: 0.8em;
                        margin-left: 8px;
                        vertical-align: top;
                      }
                    }
                  }
                }
                &.brand-item {
                  order: 1;
                  &:nth-child(4),
                  &:last-child {
                    display: block;
                  }
                  .img {
                    height: initial;
                    width: 100%;
                    padding-bottom: 100%;
                    position: relative;
                    img {
                      object-fit: cover;
                      position: absolute;
                    }
                  }
                  .text {
                    text-align: center;
                    .item-name {
                      font-size: 1.05em;
                      line-height: 1.4;
                      height: 40px;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      display: -webkit-box;
                      -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;
                    }
                    .item-price {
                      display: flex;
                      gap: 8px;
                      align-items: center;
                      justify-content: center;
                      strong {
                        display: none;
                      }
                      span {
                        font-size: 1.5em;
                        font-weight: bold;
                        color: #f01d1d;
                      }
                      small {
                        display: inline;
                        font-size: 1em;
                        margin-bottom: 0;
                        margin-top: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .slide-type {
      display: none;
    }
    .offline-store {
      .wrapper {
        display: grid;
        grid-template-columns: 30% auto;
        gap: 40px;
        padding-top: 0;
        & > div {
          a {
            border: none;
          }
          &:first-child {
            padding: 30px 0;
            display: flex;
            flex-direction: column;
            h3 {
              margin: 0 0 10px;
              font-size: 2em;
            }
            span {
              font-size: 1.1em;
              color: #666;
            }
            a {
              width: 85%;
              border: none;
              background: #999;
              border-radius: 0;
              color: white;
              margin-top: auto;
              font-size: 1.15em;
              font-weight: bold;
              i {
                display: none;
              }
              &::after {
                content: "\f054";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                margin-left: 20px;
              }
            }
          }
          &:nth-child(2) {
            display: flex;
            gap: 30px;
            border: $borderGrey;
            .img {
              width: 45%;
              height: 220px;
              position: relative;
              border-radius: 0;
              background: #e9e9e9;
            }
            div {
              margin: auto 0;
              letter-spacing: -0.03em;
              b {
                color: #9bce26;
                font-size: 1.1em;
              }
              span {
                &::before {
                  content: "●";
                  color: #9bce26;
                  display: inline-block;
                  vertical-align: bottom;
                  margin-right: 2px;
                }
              }
              a {
                padding: 0;
                text-align: left;
                display: block;
                color: #666;
                &:nth-child(2) {
                  margin: 10px 0 15px;
                  font-size: 1.6em;
                  font-weight: bold;
                  color: black;
                  i {
                    font-size: 0.8em;
                    margin-left: 5px;
                    color: black;
                    vertical-align: middle;
                  }
                }
                &:nth-child(4) {
                  display: inline;
                  margin-left: 20px;
                  i {
                    margin: 0;
                    font-size: 0.9em;
                  }
                }
                &:last-child {
                  margin-top: 25px;
                  font-weight: bold;
                  small {
                    margin-left: 5px;
                    font-weight: normal;
                    font-size: 0.8em;
                    color: #666;
                  }
                }
              }
            }
          }
        }
      }
    }
    .notice-cs {
      display: grid;
      grid-template-columns: auto 340px;
      grid-template-rows: 50px auto;
      gap: 30px;
      border-top: $borderBlack;
      padding: 10px 0 30px;
      .notice,
      .cs {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        h3 {
          width: 100px;
          font-size: 1.5em;
          line-height: 1.3;
        }
        & > p {
          margin-right: auto;
        }
      }
      .notice {
        padding: 10px 0 20px;
        border-bottom: $borderGrey;
        align-items: center;
      }
      .banner {
        grid-row: span 2;
      }
      .cs {
        height: 100%;
        & > p {
          line-height: 1.4;
          font-weight: bold;
          font-size: 1.1em;
          color: #606060;
          strong {
            font-size: 2.2em;
            font-weight: normal;
            color: #9bce26;
            display: inline-block;
            margin-bottom: 10px;
          }
        }
        div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          p {
            padding-right: 20px;
            grid-column: span 2;
            line-height: 1.4;
            b {
              font-size: 1.1em;
              display: block;
            }
          }
          a {
            background: #999;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
              margin-right: 10px;
              font-size: 1.5em;
            }
          }
        }
      }
    }
  }
  #mobile-footer-tab {
    display: none;
  }
  #pc__go-top {
    position: fixed;
    border: $borderGrey;
    background: white;
    color: #999;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    right: 40px;
    width: 55px;
    height: 55px;
    z-index: 11;
  }
}

@include desktop-l {
  #container {
    #mainSlide {
      .pagination {
        left: calc(50% - 510px + 170px + 50px);
      }
      .slide-category {
        left: calc(50% - 510px);
      }
    }
  }
}
